<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

    <test name="Calculator Test">

        <classes>

            <!-- First Run -->
            <class name="Mini_Project.Calculator_Testing.Calculator_Operations"/>

            <!-- Second Run -->
            <class name="Mini_Project.Calculator_Testing.AgeCalculator"/>

        </classes>

    </test>

</suite>